html {
  scroll-behavior: smooth;
  font-size: 120%; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f4f4f4; }

.heading-primary {
  font-family: 'Francois One', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  font-weight: 700;
  color: #7a9add;
  filter: drop-shadow(rgba(8, 56, 157, 0.95) 0px 0px 2.29233px) drop-shadow(rgba(30, 71, 157, 0.75) 0px 0px 11.4617px) drop-shadow(rgba(30, 71, 157, 0.44) 0px 0px 34.385px);
  text-transform: uppercase; }

.heading-secondary {
  font-weight: 700;
  color: #7a9add;
  filter: drop-shadow(rgba(8, 56, 157, 0.95) 0px 0px 2.29233px) drop-shadow(rgba(30, 71, 157, 0.75) 0px 0px 11.4617px) drop-shadow(rgba(30, 71, 157, 0.44) 0px 0px 34.385px);
  text-transform: uppercase;
  font-size: 1.8rem; }

.u-margin-bottom-md {
  margin-bottom: 3rem; }

.about-info {
  width: 100%;
  background-color: #353247;
  text-align: left;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem; }
  .about-info__lstkey {
    color: #b4b4b3; }

.img-polygon {
  width: 100%;
  height: 100%;
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%); }

.skill {
  text-transform: uppercase;
  color: #b4b4b3;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  .skill__item {
    font-size: 1.1rem;
    margin-bottom: 2rem; }
  .skill__details {
    text-align: left; }
  .skill__progress {
    float: right;
    color: #d9d9d9; }
  .skill__bar {
    background-color: #464646;
    height: .4rem;
    margin-top: .7rem;
    border-radius: 1rem; }
  .skill__bar-progress {
    background-color: black;
    width: 0;
    height: inherit;
    border-radius: inherit;
    transition: all 1.5s ease-in; }

.service {
  width: 95%;
  padding-top: 95%;
  background-color: #353247;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: .6rem; }
  .service__details {
    position: absolute;
    left: 0;
    top: 2rem; }
    .service__details i {
      font-size: 2.5rem;
      color: #60c3d8; }
    .service__details h3 {
      font-size: 1.6rem; }
    .service__details i, .service__details h3 {
      margin-bottom: 1rem; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(55, 51, 74, 0.7)), url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: relative; }
  .header__intro-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.navigation {
  width: 100%;
  position: absolute;
  top: 2rem;
  z-index: 100; }
  .navigation--fixed {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85); }
  .navigation__logo {
    text-align: left; }
    .navigation__logo a {
      font-family: 'big shoulders display', cursive;
      font-size: 2.5rem;
      font-weight: 700;
      color: #7a9add;
      filter: drop-shadow(rgba(8, 56, 157, 0.95) 0px 0px 2.29233px) drop-shadow(rgba(30, 71, 157, 0.75) 0px 0px 11.4617px) drop-shadow(rgba(30, 71, 157, 0.44) 0px 0px 34.385px); }
  .navigation__nav {
    height: 100%;
    position: relative; }
    .navigation__nav::after {
      content: "";
      display: table;
      clear: both; }
  .navigation__list {
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 0; }
  .navigation__item {
    float: left;
    margin-left: 2rem;
    position: relative; }
  .navigation__link, .navigation__link:hover {
    font-size: 1rem;
    color: #D9D9D9;
    text-decoration: none; }
  .navigation__item::after {
    content: "";
    background: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0;
    transition: width .3s; }
  .navigation__item:hover::after {
    width: 100%; }
  .navigation__icon {
    height: 100%;
    position: relative; }
    .navigation__icon i {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: #D9D9D9;
      cursor: pointer;
      font-size: 1.5rem; }

.sidebar {
  font-size: 16px;
  position: fixed;
  height: 100%;
  width: 31%;
  background-color: #1D1B27;
  right: -100%;
  top: 0;
  z-index: 100;
  transition: all 0.8s ease 0s;
  padding: 3.5rem 0;
  color: #D9D9D9; }
  .sidebar--slide-right {
    right: 0;
    transition: all 0.4s ease 0s; }
  .sidebar__close-btn {
    position: absolute;
    color: #B4B4B3;
    font-size: 1.75em;
    cursor: pointer;
    left: .5em;
    top: .4em;
    transition: all .2s ease; }
  .sidebar__close-btn:hover {
    color: #D9D9D9; }
  .sidebar__logo img {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    margin-bottom: 2em; }
  .sidebar__logo h3 {
    margin-bottom: .7em; }
  .sidebar__nav {
    margin-top: 2.5em; }
    .sidebar__nav a {
      border-top: 1px solid #353247;
      display: block;
      color: white;
      text-decoration: none;
      font-size: 1.4em;
      padding: .45em 0;
      transition: all 0.3s ease-out 0s; }
    .sidebar__nav a:hover {
      background-color: #ffbf3b;
      color: black; }
    .sidebar__nav a.active {
      background-color: #ffbf3b;
      color: black; }
    .sidebar__nav li:last-child a {
      border-bottom: 1px solid #353247; }
  .sidebar__owner {
    position: absolute;
    width: 100%;
    bottom: 1em;
    font-size: 1em; }

.section-about {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  background-color: #1D1B27; }

.section-my-skills {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-color: #353247; }

.section-services {
  padding-top: 1.5rem;
  background-color: #1D1B27; }
