// -------------------------COLORS------------------------- //
$color-base: #f4f4f4;

$color-header-bg-t: rgba(0, 0, 0, 0.7);
$color-header-bg-b: rgba(55, 51, 74, 0.7);

$color-primary: #7a9add;
$color-secondary: #7a9add;
