// -------------------------COLORS------------------------- //
$color-base: #f4f4f4;
$color-black: black;

$color-bg-purple1: #353247;
$color-bg-purple2: #1D1B27;

$color-header-bg-t: rgba(0, 0, 0, 0.7);
$color-header-bg-b: rgba(55, 51, 74, 0.7);

$color-primary: #7a9add;
$color-secondary: #7a9add;

$color-grey-darker: #464646;
$color-grey-dark: #b4b4b3;
$color-grey-light: #d9d9d9;