@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/base';
@import 'base/typography';
@import 'base/animations';
@import 'base/utilities';

@import 'components/about-info';
@import 'components/img';
@import 'components/skill';
@import 'components/service';

@import 'layout/header';
@import 'layout/navigation';
@import 'layout/sidebar';
@import 'layout/portfolio';

@import 'pages/home';

