.navigation {
	width: 100%;
	position: absolute;
	top: 2rem;
	z-index: 100;

	&--fixed {
		position: fixed;
		top: 0;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(8px);
	}

	&__logo {
		text-align: left;

		a {
			font-family: 'big shoulders display', cursive;
			font-size: 2.5rem;
			font-weight: 700;
			color: $color-primary;
			filter: drop-shadow(rgba(8, 56, 157, 0.95) 0px 0px 2.29233px) drop-shadow(rgba(30, 71, 157, 0.75) 0px 0px 11.4617px) drop-shadow(rgba(30, 71, 157, 0.44) 0px 0px 34.385px);
		}
	}

	&__nav {
		@include clearfix;
		height: 100%;
		position: relative;
	}

	&__list {
		list-style: none;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		margin-bottom: 0;
	}

	&__item {
		float: left;
		margin-left: 2rem;
		position: relative;
	}

	&__link, &__link:hover {
		font-size: 1rem;
		color: #D9D9D9;
		text-decoration: none;
	}

	&__item::after {
		content: "";
		background: white;
		position: absolute;
		bottom: -5px;
		left: 0;
		height: 3px;
		width: 0;
		transition: width .3s;
	}

	&__item:hover::after {
		width: 100%;
	}

	&__icon {
		height: 100%;
		position: relative;

		i {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			color: #D9D9D9;
			cursor: pointer;
			font-size: 1.5rem;
		}
	}
}
