.sidebar {
	font-size: 16px;
    position: fixed;
    height: 100%;
    width: 31%;
    background-color: #1D1B27;
    right: -100%;
    top: 0;
    z-index: 100;
    transition: all 0.8s ease 0s;
    padding: 3.5rem 0;
    color: #D9D9D9;

	&--slide-right {
		right: 0;
		transition: all 0.4s ease 0s;
	}

	&__close-btn {
		position: absolute;
		color: #B4B4B3;
		font-size: 1.75em;
		cursor: pointer;
		left: .5em;
		top: .4em;
		transition: all .2s ease;
	}

	&__close-btn:hover {
		color: #D9D9D9;
	}

	&__logo {
		img {
			width: 9em;
			height: 9em;
			border-radius: 50%;
			margin-bottom: 2em;
		}

		h3 {
			margin-bottom: .7em;
		}
	}

	&__nav {
		margin-top: 2.5em;

		a {
			border-top: 1px solid #353247;
			display: block;
			color: white;
			text-decoration: none;
			font-size: 1.4em;
			padding: .45em 0;
			transition: all 0.3s ease-out 0s;
		}

		a:hover{
			background-color: #ffbf3b;
    		color: black;
		}

		a.active {
			background-color: #ffbf3b;
    		color: black;
		}

		li:last-child a {
			border-bottom: 1px solid #353247;
		}
	}

	&__owner {
		position: absolute;
		width: 100%;
		bottom: 1em;
		font-size: 1em;
	}
}