html {
	scroll-behavior: smooth;
	font-size: 120%; //19px

	@include respond(md) {
		font-size: 100%; //16px
	}

	@include respond(sm) {
		font-size: 87.5%; //14px;
	}

	@include respond(xs) {
		font-size: 75%;
	}
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}