.form {
	text-align: left;
	@include respond(sm) {
		text-align: center;
	}

	&__group {
		margin-bottom: 1.8rem;
	}

	&__input {
		display: block;
		height: 2.4rem;
		border-radius: 1.5rem;
		padding: .2rem 1.3rem;
		font-size: 1rem;
		width: 100%;

		&:focus {
			background-color: #fff;
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
		}
	}

	&__textarea {
		height: auto;
	}
}
