.service {
	@include asp-rat-1-1-v1;

	background-color: $color-bg-purple1;
	margin-bottom: 2.5rem;
	border-radius: .6rem;

	&__details {
		position: absolute;
		left: 0;
		top: 2rem;

		i {
			font-size: 2.5rem;
			color: $color-icon-cyan;

			@include respond(md) {
				font-size: 3rem;
			}
		}

		h3 {
			font-size: 1.6rem;

			@include respond(md) {
				font-size: 2rem;
			}
		}

		p {
			@include respond(md) {
				font-size: 1.3rem;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}

		i, h3 {
			margin-bottom: 1rem;
		}
	}
}
