body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: $color-base;
}

.heading-primary {
	font-family: 'Francois One', sans-serif;
	font-weight: 700;
	font-size: 3.2rem;
	@include heading-base-purple;
}

.heading-secondary {
	@include heading-base-purple;
	font-size: 1.8rem;
}
