.btn-round {
	margin-right: 1.5rem;
	border-radius: 1.5rem;
	padding: .3rem 1.2rem;
	font-size: 1rem;
	transform: scale(1);
	transform: translateY(0);
	transition: all .2s ease-in;
	margin-top: .4rem;
	// display: inline-block;
	cursor: pointer;


	i {
		margin-right: .3rem;
		font-size: 1rem;
	}
	
	a {
		text-decoration: none;
	}

	@include respond(md) {
		font-size: 1.3rem;
	}
	
	@include respond(sm) {
		font-size: 1.5rem;
	}
	
	&:hover {
		transform: translateY(-3px);
		// background-color: #3f3c54;
	}
	
	&:active {
		transform: scale(0.99);
	}

	&--purple {
		background-color: $color-bg-purple1;
		color: $color-grey-dark;

		i {
			color: $color-grey-light;
		}

		&:hover {
			box-shadow: 0px 4px 6px #2e2d41;
			background-color: #3f3c54;
		}
	}

	&--cyan {
		background-color: $color-btn-cyan;
		float: left;

		a {
			color: $color-black;
		}

		i {
			color: $color-black;
		}
		
		&:hover {
			background-color: $color-btn-cyan-light;
			box-shadow: 0px 3px 2px $color-btn-cyan;
		}

		@include respond(sm) {
			float: none;
			display: inline-block;
		}
	}
}
