.section-about {
	padding-top: 1.5rem;
	padding-bottom: 3.5rem;
	background-color: $color-bg-purple2;
}


.section-my-skills {
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	background-color: $color-bg-purple1;
}

.section-services {
	padding-top: 1.5rem;
	background-color: $color-bg-purple2;
}